      //vendors
      $vendors: "-webkit",
      "-moz-",
      "-o-",
      "";
      //layout
      $auto-margin: 0 auto;
      //colors & BGcolors
      $primary-color: #2E2E2E;
      $secondary-color: #FF0141;
      $grey: #707070;
      $black: #000;
      $milk: #FAFAFA;
      $white: #FFF;
      //fonts
      $open: "Open Sans";
      $openBold: "./assets/fonts/OpenSans-Bold.ttf";
      $openSemiBold: "./assets/fonts/OpenSans-SemiBold.ttf";
      $openRegualr: "./assets/fonts/OpenSans-Regular.ttf";
      $openExtraBold: "./assets/fonts/OpenSans-ExtraBold.ttf";