<!-- Start Slider -->
<section id="slider" class="bd-example">
    <div class="container">
        <div class="container-fluid">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators d-xl-none d-md-none d-lg-none d-sm-inline-block text-center">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active d-inline-block"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1" class="d-inline-block"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2" class="d-inline-block"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/bike-bg.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h2>Fast and Modern Bike</h2>
                            <p class="d-none d-md-block">It is a long established fact that a reader will be distracted by the readable content of page when looking at its layout content of a page when looking at its layout..</p>
                            <button class="mt-3">Go Shopping</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/watch-bg.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h2>Classic and Technology Watches</h2>
                            <p class="d-none d-md-block">It is a long established fact that a reader will be distracted by the readable content of page when looking at its layout content of a page when looking at its layout..</p>
                            <button class="mt-3">Go Shopping</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/glass-bg.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h2>Clean and Healthy Glasses</h2>
                            <p class="d-none d-md-block">It is a long established fact that a reader will be distracted by the readable content of page when looking at its layout content of a page when looking at its layout..</p>
                            <button class="mt-3">Go Shopping</button>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->

<!---Start  HOW IT WORKS--->
<section id="work" class="text-center py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="section-header">
                <h2 class="my-3 text-center">How It Works</h2>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-md-3 col-sm-6 my-sm-2">
                    <div class="card py-5">
                        <i class="fas fa-search"></i>
                        <div class="card-body">
                            <h5 class="card-title">SEARCH</h5>
                            <p class="card-text">with us you can order and hire people to take care of you. It is a long established fact that a
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-sm-2">
                    <div class="card py-5">
                        <i class="fas fa-filter"></i>
                        <div class="card-body">
                            <h5 class="card-title">FILTER</h5>
                            <p class="card-text">with us you can order and hire people to take care of you. It is a long established fact that a
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-sm-2">
                    <div class="card py-5">
                        <i class="fas fa-hand-point-up"></i>
                        <div class="card-body">
                            <h5 class="card-title">CHOOSE</h5>
                            <p class="card-text">with us you can order and hire people to take care of you. It is a long established fact that a
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-sm-2">
                    <div class="card py-5">
                        <i class="fas fa-list-alt"></i>
                        <div class="card-body">
                            <h5 class="card-title">ORDER</h5>
                            <p class="card-text">with us you can order and hire people to take care of you. It is a long established fact that a
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---End How IT WORKS--->

<!---Start reviews--->
<section id="reviews" class="py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="section-header text-center mb-5">
                <h2 class="my-3">Clients Reviews</h2>
            </div>
            <owl-carousel [options]="carouselOptions">
                <div class="card p-4 mx-1">
                    <div class="card-body text-center">
                        <h3>Ameria Ali</h3>
                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto dicta voluptate quia inventore, blanditiis adipisci."</p>
                    </div>
                    <img class="img-fluid w-75 m-auto" src="../../../assets/img/profile-1.png" alt="">
                </div>
                <div class="card p-4 mx-1">
                    <div class="card-body text-center">
                        <h3>Ameria Ali</h3>
                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto dicta voluptate quia inventore, blanditiis adipisci."</p>
                    </div>
                    <img class="img-fluid w-75 m-auto" src="../../../assets/img/profile-2.png" alt="">
                </div>
                <div class="card p-4 mx-1">
                    <div class="card-body text-center">
                        <h3>Ameria Ali</h3>
                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto dicta voluptate quia inventore, blanditiis adipisci."</p>
                    </div>
                    <img class="img-fluid w-75 m-auto" src="../../../assets/img/profile-3.png" alt="">
                </div>
                <div class="card p-4 mx-1">
                    <div class="card-body text-center">
                        <h3>Ameria Ali</h3>
                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto dicta voluptate quia inventore, blanditiis adipisci."</p>
                    </div>
                    <img class="img-fluid w-75 m-auto" src="../../../assets/img/profile-4.png" alt="">
                </div>
                <div class="card p-4 mx-1">
                    <div class="card-body text-center">
                        <h3>Ameria Ali</h3>
                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto dicta voluptate quia inventore, blanditiis adipisci."</p>
                    </div>
                    <img class="img-fluid w-75 m-auto" src="../../../assets/img/profile-5.png" alt="">
                </div>
                <div class="card p-4 mx-1">
                    <div class="card-body text-center">
                        <h3>Ameria Ali</h3>
                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates iusto dicta voluptate quia inventore, blanditiis adipisci."</p>
                    </div>
                    <img class="img-fluid w-75 m-auto" src="../../../assets/img/profile-6.png" alt="">
                </div>
            </owl-carousel>
        </div>
    </div>
</section>
<!---End reviews--->

<!-- Start NewSeltter -->
<section id="newSeltter" class="py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h5>Send Us Via Your Email</h5>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <div class="email">
                        <form [formGroup]="newSeltter" (ngSubmit)="sendEmail(newSeltter)">
                            <input type="text" class="form-control" formControlName="email" placeholder="Your Email .... ">
                            <button>Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End NewSeltter -->